<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Bypassage</title>
</head>
<body>

<h1>🔁 Change 13+ for -13</h1>
<form method="POST" action="/bypass/plus13">
  <input type="text" name="pesan" placeholder="Warning xxxx" required>
  <button type="submit">Submit</button>
</form>

<hr>

<h1>🔁 Change -13 for 13+</h1>
<form method="POST" action="/bypass/minus13">
  <input type="text" name="pesan" placeholder="Warning xxxx" required>
  <button type="submit">Submit</button>
</form>

</body>
</html>